<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{%static 'img/favicon.png'%}" type="image/x-icon"> <!--change here-->
    <title>OTTFlix | Kota Factory</title>
</head>
<body>
    <header>
        <video src="{%static 'video/red white and royal blue trailer.mp4'%}" autoplay muted></video>
        <nav>
            <div class="logo_ul">
                <a href="#" class="logo">
                    <ion-icon name="film"></ion-icon><b>OTTFlix</b></a>
                <ul>
                    <li>
                        <a href="http://localhost:8000/movies/"><i class="bi bi-house-door-fill"></i></a>
                    </li>
                    <li>
                        <a href="#" id="series">Series</a>
                    </li>
                    <li>
                        <a href="#" id="movies">Movies</a>
                    </li>
                </ul>
            </div>
            <div class="search_user">
                <i class="bi bi-search"></i>
                <input type="text" id="search_input">
                <a href="http://localhost:8000/login/"><i class="bi bi-person-walking"></i></a>
                <div class="search">
                    <!--a href="#" class="card">
                        <img src="img/the boys.jpg" alt="">
                        <div class="cont">
                            <h3>The Boys</h3>
                            <p>Action, 2021, <span>IMDB</span><i class="bi bi-star-fill"></i> 9.6</p>
                        </div>
                    </a-->

                </div>
            </div>
        </nav>
        <div class="content">
            <h1 id="title">Red, White and Royal Blue</h1>
            <p class="card">Alex Claremont-Diaz, the first son of the United States, and young Prince Henry fall in love. However, considering their high-profile public lives, they must keep their relationship a secret at all costs.</p>
            <div class="details">
                <h6>An Original Film</h6>
                <h5 id="gen"></h5>
                <h4 id="date"></h4>
                <h3 id="rate"><span></span><i class="bi bi-star-fill"></i></h3>
            </div>
            <div class="btns">
                <a href="#" id="play">Play <i class="bi bi-play-fill"></i></a>
                <a href="#" download="Red White and Royal Blue" id="medium_q">Download</a>
            </div>
        </div>
        <section>
            <!--h4>Popular</h4-->
            <i class="bi bi-chevron-left"></i>
            <i class="bi bi-chevron-right"></i>
            <div class="cards">
                <!--a href="#" class="card">
                    <img src="img/the boys.jpg" alt="" class="poster">
                    <div class="rest_card">
                        <img src="img/the boys1.jpg" alt="">
                        <div class="cont">
                            <h4>The Boys</h4>
                            <div class="sub">
                                <p>Action, 2022</p>
                                <h3><span>IMDB</span><i class="bi bi-star-fill"></i> 9.6</h3>
                            </div>
                        </div>
                    </div>
                </a-->
            </div>
        </section>
    </header>
    <script src="{%static 'app.js'%}"></script>
    <script>
        fetch(json_url).then((Response) => Response.json())
        .then(data => {
            let series_array = data.filter(ele => {
                return ele.name === "Red, White and Royal Blue";
            });

            document.getElementById('title').innerText = series_array[0].name;
            document.getElementById('medium_q').href = series_array[0].medium;

            let baseURL = "{% static '' %}";
            let videoSrc = baseURL + series_array[0].trailer;

            document.getElementsByTagName('video')[0].setAttribute('src', videoSrc);
            document.getElementsByTagName('video')[0].play();
            document.getElementById('gen').innerText = series_array[0].genre;
            document.getElementById('date').innerText = series_array[0].date;
            document.getElementById('rate').innerHTML = `<span>IMDB</span><i class="bi bi-star-fill"></i> ${series_array[0].imdb}`;

        })
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>